@using Razorview_Assignment.Models
@model CityWeather
<!DOCTYPE>
<html>
<head>
    <title>@Model.CityName City Weather</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet_View.css" rel="stylesheet" />
</head>

<body>
    <div class="page-content">
        <h2>Weather Detail</h2>
        <div class="w-50">
            <h2>@Model.CityName</h2>
            <div class=" box flex">
                <div class="flex-borderless w-100">
                    <div class="w-50">
                        <p>@Model.CityName</p>
                        <p>@Model.DateAndTime.ToString("ddd/MMM/yyyy")</p>
                        <p>@Model.DateAndTime.ToString("hh:mm tt")</p>
                        <a href="/Details">Detail</a>
                    </div>
                    <div class="w-50 border-left">
                        <p>@Model.TemperatureFahrenheit</p>
                    </div>
                </div>

            </div>
            <a href="/">Home</a>
        </div>
    </div>
</body>
</html>
